:root{
    --color1:#2A2F4F;
    --color2:#917FB3;
    --color3:#E5BEEC;
    --color4:#FDE2F3;
}


html{
    font-size: 16px;
}





.navBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color1);
    
    
}

.navBar h2 {
    color: var(--color3);
    letter-spacing: 0.2rem;
    font-weight: 700;
}

.navBar h2 span{
    color:var(--color2);
    font-size: 1.7rem;
    
}

.navBar a{
    text-decoration: none;
    color: var(--color3);
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding: 1.5rem 1rem;
}

.navBar a:hover{
    padding: 1.5rem 1rem;
    background-color: var(--color4);
    color: var(--color1);
    text-decoration: underline;
}

.botonera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;

}

.carrito{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

}

.carro{
    width: 2.5rem;
    color: white;
}
    
.carrito p{
    font-weight: 700;
    font-size: 2rem;
}

.cuerpo{
    text-align: center;
    background-color: var(--color4);
    padding: 2rem;
}



.itemcount-botonera{
    border: var(--color2) 3px solid;
    width: 20rem;
    margin: auto;
    border-radius: 1rem;
    
}
.itemcount-botonera_contar{
    padding: 0rem 1rem;
    margin: 1rem 2rem;
    border: var(--color2) 2px solid;
    border-radius: 1rem;
    color: var(--color1);
    font-weight: 700;
    
}

.itemcount-botonera_contar:active{
    background-color: var(--color2);
    color: white;
    font-weight: 700;
}

.itemcount-carrito{
    margin: 1rem;
    border: var(--color2) 3px solid;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: 700;
}

.itemcount-carrito:active{
    background-color: var(--color2);
    color: white;
    font-weight: 700;
   
}

.itemcount-carrito:disabled{
    color: grey;
    background-color: #E2DFDE;
    border-color: var(--color4);
}

.itemcount-total{
    display: inline;
    padding: 0.7rem 1rem;
    background-color: var(--color3);
    color: var(--color1);
    font-weight: 700;
    border-radius: 1rem;
}

.Items{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    
}

.Items img{
    width: 328px;
    height: 328px;
}

.Items article{
    background-color: var(--color2);
    padding: 0 2rem;
}

.Items button{
    margin: 1rem;
    border: white 3px solid;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: 700;
}

.Items button:active{
    background-color: var(--color2);
    color: white;
    font-weight: 700;
   
}

.Items p{
    font-weight: bold;
    letter-spacing: 0.1rem;
}